body {
  margin: 0;
  font-family: sans-serif;
}
.header {
  display: flex;
  justify-content: space-between;
  align-content: center;
  padding-right: 300px;
  padding-top: 30px;
  background-color: #f3f5f5;
  color: #fff;
  

}
.header .nav a {
  margin: 0 1rem;
  color: #1d1d1d;
  text-decoration: none;
}
.iotblogo {
  margin-left: 40px;
  margin-top: -35px;
}

.hero-image {
  position: static;
  margin-top: -390px;
  align-items: center;
  justify-content:center
  
}
.hero-text {
  position: relative;
  margin-top: 150px;
  text-align: center;
  color: #f3f5f5;
  font-family: cursive;
  font-size: 40px;
  
  
}
.btn-primary {
  padding: 0.75rem 1.5rem;
  border-radius: 4px;
  text-decoration: none;
  background: #F9A826;
  color: #fff
}
.services{
  padding: 2rem;
  text-align: center;
}
.service-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  font-size: 20px;

}
.service-card {
  display: flex;
  flex-direction: row;
  width: 50px;
  height: 150px;
  margin-top: -125px;
  padding-inline: 80px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
.footer {
  display: flex;
  justify-content: space-around;
  padding: 2rem;
  background: #00332E;
  color: #fff;
}
.footer-col ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}
.footer-col a {
  color: #F9A826;
  text-decoration: none;
}
.we-are{
  font-style: oblique;
  font-family: sans-serif;
  padding-bottom: 30px;

}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} 
